<a class="route" href="#vis">Show me the money!</a>
<img class="route" src="http://i.imgur.com/Ssns07U.jpg" />

This started as a response to a request in comments at a stackoverflow question
<a href="http://stackoverflow.com/questions/32238659/how-to-make-spa-using-javascript-jquery-and-require-js/32238951#32238951">
How to make spa using javascript, jquery and require,js</a>. This has gone further, now completely removing reliance on
jquery (it is present in the example app, but not the spa JS files in the skeleton folder).