[spa-view=contents] {
    height: 100%;
    background-color: white;
    padding-top: 2rem;
}

[spa-view=contents] .route {
    text-align:center;
    display: block;
    margin: 0 auto;
}
[spa-view=contents] img.route {
    border-radius: 0.1rem;
    max-width: 94vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    body {
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex;
    }
    header {
        flex: 0;
    }
    [spa-view=contents] {
        flex-shrink: 0;
    }
}